* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --couleur-principale: #44619A ;
    --background-color: #D3D3D3;
    --background-color-nav: #858585;
    --background-color-nav-hover: #585858;
    --background-maillot: #acacac;
    --couleur-texte: #2E2E2E;
    --details-icon: #F5F5DC ;
    --couleur-fond-section: #5F79B5 ;

    --font-size-large: 40px;
    --font-size-medium: 30px;
    --font-size-small: 20px;

    --gap-large: 80px;
    --gap-medium: 20px; 
    --gap-small: 13px;

    --logo-size-large: 100px;
    --logo-size-small: 70px;
}

@media (max-width: 840px) {
    :root {
        --font-size-large: 25px;
        --font-size-medium: 15px;
        --font-size-small: 8px;

        --gap-large: 40px;
        --gap-medium: 12px; 
        --gap-small: 3px;

        --logo-size-large: 65px;
        --logo-size-small: 40px;
    }
}

body {
    color: var(--couleur-texte);
    background-color: var(--background-color);
}