html {
    scroll-behavior: smooth;
}

h2 {
    font-size: var(--font-size-large);
}
.test {
    position: sticky;
    top:0;
    left:0;
}

.carousel {
    background-color: var(--background-color);
    width: 100%;
    overflow: hidden;
    border: 3px solid #000;
  }
  
  .carousel-track {
    display: flex;
    gap: var(--gap-medium);
    animation: scroll 15s linear infinite;
  }
  
  .carousel-track img {
    width: var(--gap-large); /* Ajuste la largeur selon ton besoin */
    height: auto;
    flex-shrink: 0;
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* On déplace la moitié du conteneur */
  }

a {
    text-decoration: none;
    color: var(--couleur-texte)
}

nav {
    width: 100%;
    background-color: var(--background-color-nav);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    padding: 0.5%;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

nav a {
    font-weight: bold;
    color:#2E2E2E;
    font-size: var(--font-size-medium);
    text-decoration: none;
}

nav a:hover{
    background-color: var(--background-color-nav-hover);
    border-radius: 5px;
    text-decoration: underline;
}

nav a img {
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    width: var(--logo-size-large);
}

nav a img:hover{
    transform: scale(1.1);
}


.offre-section {
    background-image: url("../media/image/fondOffre.png");
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offre-content h1 {
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--details-icon);
}

.offre-content p {
    margin: 2%;
    font-size: var(--font-size-small);
}

.offre-content a {
    color: var(--couleur-texte);
    background-color: var(--background-color-nav);
    border: none;
    padding: 2% 10%;
    margin: 1.5%;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
    text-decoration: none;
}

.offre-content a:hover {
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    background-color: var(--background-color-nav-hover);
}

.titre {
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-small);
    margin: 30px;
    scroll-margin-top: 40vh;
}

.titre img {
    width: var(--font-size-large);
    height: auto;
}

.conteneur {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.maillot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 300px;
    margin-bottom: 5px;
}

.maillot img {
    border-radius: 5px;
    width: 100%;
    background-color: var(--background-maillot);
}

.maillot:hover {
    transform: scale(1.1);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color-nav);
    gap: 10px;
    padding: 50px;
}

footer h4 {
    font-size: var(--font-size-medium);
}

footer ul {
    font-size: var(--font-size-small);
    list-style: none;
}

footer ul li a:hover{
    transform: scale(1.1);
}

#accueil {
    scroll-margin-top: 100vh;
}