html {
    scroll-behavior: smooth;
}

h2 {
    font-size: var(--font-size-large);
}



.offre-section {
    background-image: url("../media/image/fondOffre.png");
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offre-content h1 {
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--details-icon);
}

.offre-content p {
    margin: 2%;
    font-size: var(--font-size-small);
}

.offre-content a {
    color: var(--couleur-texte);
    background-color: var(--background-color-nav);
    border: none;
    padding: 2% 10%;
    margin: 1.5%;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
    text-decoration: none;
}

.offre-content a:hover {
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    background-color: var(--background-color-nav-hover);
}

.titre {
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-small);
    margin: 30px;
    scroll-margin-top: 40vh;
}

.titre img {
    width: var(--font-size-large);
    height: auto;
}

.conteneur {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.maillot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 300px;
    margin-bottom: 5px;
}

.maillot img {
    border-radius: 5px;
    width: 100%;
    background-color: var(--background-maillot);
}

.maillot:hover {
    transform: scale(1.1);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

footer {
    text-align: center;
    background-color: var(--background-color-nav);
    gap: 10px;
    padding: 50px;
}

footer h4 {
    font-size: var(--font-size-medium);
}

footer ul {
    font-size: var(--font-size-small);
    list-style: none;
}

footer ul li a:hover{
    transform: scale(1.1);
}

#accueil {
    scroll-margin-top: 100vh;
}

